<!DOCTYPE html>
<html lang="">
<head>
  <meta> <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  {% block extrameta %}
  <meta name="description" content=" ">
  <meta name="author" content=" ">
  <link rel="icon" type="image/x-icon" href="11.jpg" />
  <link rel="shortcut icon" type="image/x-icon" href="11.jpg" />
  {% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  {% vendor 'bootstrap.css' %}

  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <script src="jquery.js"></script>    
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <style>
    .page-reg-container {
        margin: 120px auto 0 auto;
    }
  </style>
  <script>
    window.onload=function () {
        new Vue({
            el:"#register_page",
            data:{
                user:{
                    username:'',
                    password:'',
                    repassword:'',
                    email:''
                },
                infoshow:false,
            },
            methods:{
                show:function () {
                    if(this.user.password != this.user.repassword){
                        this.infoshow = true;
                    }else{
                        this.infoshow = false;
                    }
                },
                submit:function (event) {
                    console.log(this.user);
                    if(this.user.password != this.user.repassword){
                        alert("密码不一致");
                    }else{
                        var formData = new FormData(event.target);
                        this.$http.post('', formData).then((data) => {
                            console.log(data.data);
                            let status = data.data.status;
                            switch(status){
                                case 1 : alert("创建成功，请等待审核！");
                                break;
                                case 0 : alert("用户名或邮箱已被使用");
                                break;
                                case -1 : alert("信息输入不正确，请完善！");
                                break;
                                case 99 : alert("未知错误，请联系管理员！");
                                break;
                            }
                        }, (response) => {
                            alert("添加失败！")
                        });
                    }
                }
            }
        })
    }
  </script>
</head>
<div class="page-reg-container" id="register_page">
    <h1>欢迎注册信息管理平台</h1>
    <form action="" method="post" @submit.prevent="submit">
        {% csrf_token %}
        <input type="text" style="width:300px;" name="email" class="username" required="required" type="email" placeholder="邮箱" v-model="user.email">
        <input type="text" style="width:300px;" name="username" class="username" required="required" placeholder="用户名" v-model="user.username">
        <input type="password" style="width:300px;" name="password" class="password" required="required" placeholder="密码" v-model="user.password">
        <input type="password" style="width:300px;" name="repassword" class="password" required="required" placeholder="确认密码" v-model="user.repassword" @keyup="show">
        <p v-show="infoshow" class="text-left"><font style="font-style: oblique;"><i class="fa fa-warning"></i>两次密码不一致</font></p>
        <button type="submit">注册</button>
        <div class="error" {% if error_message %} style="top: 27px; display: block;"{% endif %}><span>+</span></div>
    </form>
</div>
<script src="bootstrap.js"></script>   
<script src="vue.js"></script>   
</body>
<!-- 为项目中第一个用到vue的页面，已经完成很久，上传一下，作为留念 -->
</html>
